{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PoliMarketplace</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="p-5">
        <h1 class="fw-bold">Bienvenido a Poli Market Place</h1>
        <h2>El comercio virtual nunca fue tan facil!</h2>
        <p> 
           Compra y vende productos de manera segura y rapida.
        </p>
        </div>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>